<div class="container">
  <h2 id="menu-categories-title" class="text-center">
    Sign Up
  </h2>
  <h3 ng-if="signUpCtrl.saved">
    Your information has been saved
  </h3>
  <form name="signUpForm" novalidate>
    <div class="form-group">
      <label for="firstName">First name:</label>
      <input type="text" name="firstName" placeholder="Enter your first name"
        ng-model="signUpCtrl.form.firstName"
        required
        ng-minlength="4"
        ng-maxlength="20"
        class="form-control">
      <span ng-if="(signUpForm.firstName.$error.minlength || signUpForm.firstName.$error.required)
          && signUpForm.firstName.$touched">
          First name must be at least 4 characters long
      </span>
      <span ng-if="signUpForm.firstName.$error.maxlength && signUpForm.firstName.$touched">
        First name must not be longer than 10 characters
      </span>
    </div>
    <div class="form-group">
      <label for="lastName">Last name:</label>
      <input type="text" name="lastName" placeholder="Enter your last name"
        ng-model="signUpCtrl.form.lastName"
        required
        ng-minlength="4"
        ng-maxlength="20"
        class="form-control">
      <span ng-if="(signUpForm.lastName.$error.minlength || signUpForm.lastName.$error.required)
          && signUpForm.lastName.$touched">
        Last name must be at least 4 characters long
      </span>
      <span ng-if="signUpForm.lastName.$error.maxlength && signUpForm.lastName.$touched">
        Last name must not be longer than 10 characters
      </span>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="example@example.com"
        ng-model="signUpCtrl.form.email"
        required
        ng-minlength="4"
        ng-maxlength="20"
        class="form-control">
      <span ng-if="(signUpForm.email.$error.minlength || signUpForm.email.$error.required)
          && signUpForm.email.$touched">
        Email must be at least 5 characters long
      </span>
      <span ng-if="signUpForm.email.$error.maxlength && signUpForm.email.$touched">
        Email must not be longer than 20 characters
      </span>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone number:</label>
      <input type="text" name="phoneNumber" placeholder="Eg. 333-000-3333"
        ng-model="signUpCtrl.form.phoneNumber"
        required
        pattern="(\d{3})-(\d{3})-(\d{4})"
        class="form-control">
      <span ng-if="signUpForm.phoneNumber.$invalid && signUpForm.phoneNumber.$touched">
        Phone must be in the format ###-###-####.
      </span>
    </div>
    <div class="form-group">
      <label for="favoriteDish">Favorite dish:</label>
      <input type="text" name="favoriteDish" placeholder="Enter your favorite dish"
        ng-model="signUpCtrl.form.favoriteDish"
        required
        ng-minlength="2"
        ng-maxlength="4"
        class="form-control">
      <span ng-if="(signUpForm.favoriteDish.$error.minlength || signUpForm.favoriteDish.$error.required)
          && signUpForm.favoriteDish.$touched">
        Favorite dish must be at least 2 characters long
      </span>
      <span ng-if="signUpForm.favoriteDish.$error.maxlength && signUpForm.favoriteDish.$touched">
        Favorite dish must not be longer than 5 characters
      </span>
      <span ng-if="signUpCtrl.menuNotExists">
        No such menu number exists
      </span>
    </div>
    <button type="submit" class="btn btn-default"
      ng-disabled="signUpForm.$invalid"
      ng-click="signUpCtrl.submit()">
      Submit
    </button>
  </form>

</div>
